<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Välkommen till AlbaZero som kund</h1>
        <p class="lead">
            Du har valt marknadens effektivaste sourcingtjänst med de bästa villkoren för dig som kund.<br /> AlbaZero erbjuder
          dig en unik digitaliserad lösning där du som kund får kompetens för alla pengar du betalar. 100% av det du betalar
          för går till den leverantör som utför uppdraget.<br /> För din del innebär detta att du nu kan börja använda den
          kostnadsfria tjänsten omgående genom att söka i vår databas efter resurser. Då du hittar ett CV som intresserar
          dig kan du välja en tid som passar dig och boka en intervju.<br /> Efter genomfördintervju kan du välja att teckna
          avtal eller avböja. Allt kostnadsfritt.<br />
          <br /> AlbaZero vill erbjuda sina kunder ett bättre beslutsstöd. Därför är din återkoppling ovärderlig och du kommer
          medverka i kvalitetsarbetet genom att fylla i en utvärdering av varje resurs med hjälp av en wizard. På så vis
          hjälper du dig själv och alla andra kunder att långsiktigt öka kvaliteten i tjänsten.<br /> AlbaZero sköter din
          administration och skickar en faktura per månad och kreditlängd.<br /> För att hjälpa dig ytterligare i din roll
          som kund kan du välja att köpa till en rad tjänster som du enkelt aktiverar under inställningar. Du betalar bara
          när AlbaZero tillför värde och då i form av en avgift vid det unika tillfället.<br />
          <br />Varmt välkommen till AlbaZero! <br />
          <i>Jonas Liedberg, VD</i>
        </p>
    </div>
</div>